/*@import url(http://fonts.googleapis.com/css?family=Exo:600);*/
@import url(http://fonts.googleapis.com/css?family=Syncopate);
/*@font-face*/
  /*font-family 'Home Remedy'*/
  /*src url(HomeRem.ttf)*/

body
  margin 0
  padding 0
  font-family Arial
  background-image url('images/background.jpg')
  background-repeat no-repeat
  background-attachment fixed
  background-size 100%

  a
    text-decoration none

  main
    width 980px
    margin auto

    header
      position absolute
      width 980px
      margin auto
      top 20px

    > div, section div
      display none
    section
      color black
      font-family Arial, sans-serif
      font-size 12px
      width 720px
      box-shadow 0 0 4px black
      background-color rgba(255, 255, 255, 0.9)
      margin-left 240px
      margin-top 150px
      margin-bottom 40px
      padding 10px
    #accueil:target
      display inline-block
    #kits:target
      display inline-block
      text-align center
    #signatures:target
      display inline-block
      text-align center
    #avatars:target
      display inline-block
      text-align center
    #bann:target
      display inline-block
      text-align center
      img
        width 700px
    #charteGraph:target
      display inline-block
      text-align center
      img.pa
        width 700px
    #sitesInt:target
      display inline-block
      text-align center
    #credits:target
      display inline-block
      text-align center
    #partenariat:target
      display inline-block
      text-align center

    div > img
      margin 0 5px 5px 5px
    section > a.bouton
      background-color #d1d1d0
      color black
      padding 5px
      margin 5px
      margin-bottom 20px
      display inline-block
      text-align center
    section > a.bouton:hover
      color white
      background-color #ec1c56
      transform scale(1.1)
      transition all 0.5s ease

    .imgAccueil
      float left
      margin 10px
      margin-right 20px
      margin-top 4px

    p
      margin-left 10px
      margin-right 10px
      margin-bottom 20px
      text-align justify
    .footer
      text-align center
      font-size 10px
    .contact a
      background-color #d1d1d0
      color black
      padding 5px
      text-align center
      width 220px
      margin auto
      display block
      font-size 16px
    .contact a:hover
      color white
      background-color #ec1c56
      transform scale(1.1)
      transition all 0.5s ease


    h1
      color #ec1c56
      font-family 'Syncopate',  sans-serif
      font-size 25px
      text-align center
      margin 10px
      padding-bottom 1px

    h2, h3
      color black
      font-family 'Syncopate',  sans-serif
      font-size 12px
      text-align center
      margin-bottom -10px
      margin-top 20px
      padding-bottom 30px
      padding-top 20px
      border-top dotted #c6c6c6 1px

    h2.rose
      color #ec1c56
      font-family 'Syncopate',  sans-serif
      font-size 14px
      text-align center
      margin-bottom -10px
      margin-top 20px
      padding-bottom 30px
      padding-top 20px
      border-top dotted #7a7a7a 1px

    aside
      width 160px
      display inline-block
      vertical-align top
      margin-left 0
      margin-top 0
      padding 0 20px 20px 20px
      font-size 12px
      box-shadow 0 0 4px black
      /*background-color white*/
      position fixed
      top 150px
      background-color rgba(255, 255, 255, 0.9)

    nav > a.bouton
      background-color #d1d1d0
      color black
      padding 5px
      margin -5px 0 -5px 0
      display block
      text-align center
    nav > a.boutonPart
      margin -5px 0 -5px 0
      display block
      text-align center
    nav > a.bouton:hover
      color white
      background-color #ec1c56
      transform: scale(1.1);
      transition: all 0.5s ease;
    nav > a.boutonPart:hover
      transform: scale(1.1);
      transition: all 0.5s ease;
    nav > a.active
      color white
      background-color #ec1c56
    nav > .menu
      margin-top 20px
      margin-bottom 15px
      text-align center
      font-family 'Syncopate',  sans-serif
      font-size 14px
      color #ec1c56
      font-weight bold

footer
  width 100%
  background rgba(0, 0, 0, 0.80)
  color white
  text-align center
  font-size 10px
  bottom 0
  position fixed